* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

a {
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
    font-weight: bold;
}

a:hover {
    color: #ff7a57;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: normal;
}

.btn-primary {
    border: 1px solid #ff7a57;
    background-color: #ff7a57;
    color: white;
}

.btn-primary:hover {
    border: 1px solid #ff5224;
    background-color: #ff5224;
    color: white;
}

/* ----------------------------------------------- */
nav {

    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav img {
    width: 75px;
}

nav i {
    color: grey;
    border: 1px solid #DDD;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav .menu ul {
    padding: 0;
    list-style: none;
    gap: 0 30px;
    margin-right: 20px;
}



/* computer */
@media screen and (min-width: 1024px) {
    .container {
        width: 70%;
    }

    nav i {
        display: none !important;
    }

    nav ul {
        display: inline-flex;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 70%;
    }

    nav .menu {
        width: 100%;
        text-align: center;
        border-top: 1px solid #eee;
        margin-top: 10px;
        padding-top: 10px;
        display: none;
    }

    nav .menu ul {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        margin-bottom: 10px;
    }
}

/* smart phone */
@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }

    nav .menu {
        width: 100%;
        text-align: center;
        border-top: 1px solid #eee;
        margin-top: 10px;
        padding-top: 10px;
        display: none;
    }

    nav .menu ul {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        margin-bottom: 10px;
    }
}